<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2018 Daniel Underhay & Matthew Daley.
  ~
  ~ This file is part of Walrus.
  ~
  ~ Walrus is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ Walrus is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Walrus.  If not, see <http://www.gnu.org/licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.bugfuzz.android.projectwalrus">

    <uses-feature android:name="android.hardware.usb.host"/>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".ProjectWalrusApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <receiver android:name=".device.CardDeviceManager$UsbBroadcastReceiver">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
                <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".device.CardDeviceManager$UsbPermissionReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name=".device.CardDeviceManager.ACTION_USB_PERMISSION_RESULT"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".device.BulkReadCardsService"
            android:exported="false">
        </service>

        <activity
            android:name=".ui.WalletActivity"
            android:theme="@style/LauncherActivityTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.CardActivity"/>

        <activity
            android:name=".ui.BulkReadCardsActivity"
            android:label="@string/bulk_read_cards_activity_name"
            android:parentActivityName=".ui.WalletActivity"/>

        <activity
            android:name=".ui.DevicesActivity"
            android:label="@string/devices_activity_name"
            android:parentActivityName=".ui.WalletActivity"/>

        <activity
            android:name=".device.proxmark3.Proxmark3Activity"
            android:label="@string/proxmark3_activity_name"
            android:parentActivityName=".ui.DevicesActivity"/>

        <activity
            android:name=".device.proxmark3.Proxmark3TuneResultActivity"
            android:label="@string/proxmark3_tune_result_activity_name"
            android:parentActivityName=".device.proxmark3.Proxmark3Activity"/>

        <activity
            android:name=".device.chameleonmini.ChameleonMiniActivity"
            android:label="@string/chameleon_mini_activity_name"
            android:parentActivityName=".ui.DevicesActivity"/>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_activity_name"
            android:parentActivityName=".ui.WalletActivity"/>

        <activity
            android:name=".ui.WebViewActivity"
            android:exported="false">
            <intent-filter>
                <action android:name=".ui.WebViewActivity"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>

    </application>

</manifest>